
.section__identification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 59px;
    right: 0;
    left: 0;
    bottom: 0;
}

.identification__field {
    position: relative;
    border-radius: 6px;
    min-width: 350px;
    max-width: 450px;
}

.identification__header {
    display: flex;
    justify-content: center;
    background: #5757ff;
    padding: 5px 0 5px 0;
    border-radius: 6px 6px 0 0;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    font-family: roboto, serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 0.5px;
    color: #fff;
    user-select: none;
}

.identification__list {
    background: var(--containers-background);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    height: 36px;
    position: relative;
}

.identification__cold {
    padding: 2px 14px 2px 6px;
    border-radius: 6px 20px 0 0;
    color: black;
    font-family: roboto, serif;
    font-size: 1.5em;
    font-weight: 900;
    position: absolute;
    left: 10px;
    top: 2px;
    user-select: none;
}

.identification__hot_right, .identification__hot_left {
    padding: 2px 6px 2px 6px;
    margin: 2px 0 2px 0;
    border-radius: 4px;
    color: black;
    border: 2px solid #00000070;
    position: absolute;
    top: 3px;
}
.identification__hot_right {
    right: 10px;
}
.identification__hot_left {
    left: 10px;
}

.form__login, .form__registration, .form__recovery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background: var(--containers-background);
    border-radius: 0 0 6px 6px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}
.form__login, .form__recovery {
    min-height: 150px;
    padding: 20px 20px 25px 20px;
}

.form__registration {
    min-height: 240px;
}

.form__row {
    display: flex;
    flex-wrap: wrap;
    margin: 6px 0;
}

.form__field {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.auth-form-input, .form_input {
    width: 100%;
    padding: 4px;
    border: 2px solid #333;
    border-radius: 2px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 1.2em;
}
.form_input::placeholder {
    font-family: cursive;
}

.form-label {
    flex-wrap: nowrap;
    font-size: larger;
    color: black;
    font-family: serif;
}

.form-errors {

}

.from-error {

}
.from-error ~ li {
    word-wrap: break-word;
}

.button__submit {
    margin: 6px 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 4px 0;
    border: 2px solid #333;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;
    font-family: serif;
}

.forgot__password {
    position: absolute;
    bottom: 12px;
    right: 15px;
    color: #000;
}
.changed__password {
    background: var(--containers-background);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    display: flex;
    justify-content: center;
    padding: 6px 8px 0 8px;
    font-weight: 600;
}


@media (max-width: 400px) {
    .identification__field {
        min-width: auto;
    }
    .auth-form-input, .form_input {
        font-size: initial;
    }
    .form__field {
        min-width: 0;
        flex-direction: column;
    }
    .section__identification {
        align-items: initial;
    }
    .identification__cold {
        font-size: 1em;
        padding: 6px 0 6px 0;
    }
    .identification__header {
        font-size: 1.5em;
    }
}