
.section__identification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 59px;
    right: 0;
    left: 0;
    bottom: 0;
}

.identification__field {
    position: relative;
    border-radius: 6px;
    min-width: 350px;
    max-width: 450px;
}

.identification__header {
    display: flex;
    justify-content: center;
    background: #5757ff;
    padding: 5px 0 5px 0;
    border-radius: 6px 6px 0 0;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    /* border-bottom: 1px solid #000; */
    font-family: roboto, serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 0.5px;
    color: #fff;
}

.identification__list {
    background: var(--containers-background);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    height: 36px;
    position: relative;
}

.identification__cold {
    padding: 2px 14px 2px 6px;
    border-radius: 6px 20px 0 0;
    color: black;
    font-family: roboto, serif;
    font-size: 1.5em;
    font-weight: 900;
    position: absolute;
    left: 10px;
    top: 2px;
}

.identification__hot {
    padding: 2px 6px 2px 6px;
    margin: 2px 0 2px 0;
    border-radius: 4px;
    color: black;
    border: 2px solid #00000070;
    position: absolute;
    right: 10px;
    top: 3px;
}

.form__login, .form__registration {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background: var(--containers-background);
    border-radius: 0 0 6px 6px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}
.form__login {
    min-height: 200px;
    padding: 20px 20px 25px 20px;
}

.form__registration {
    min-height: 240px;
}

.form__row {
    display: flex;
    flex-wrap: wrap;
}

.form__field {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.auth-form-input {

}

.form-label {
    flex-wrap: nowrap;
}

.form-errors {

}

.from-error {

}
.from-error ~ li {
    word-wrap: break-word;
}

.button__submit {

}

.forgot__password {
    position: absolute;
    bottom: 12px;
    right: 15px;
    color: #000;
}

@media (max-width: 768px) {
    .identification__field {
        min-width: auto;
    }
    .form__login {
        min-width: auto;
    }
}
@media (max-width: 400px) {
    .form__field {
        min-width: 0;
        flex-direction: column;
    }
    .section__identification {
        align-items: initial;
    }
    .identification__cold {
        font-size: 1em;
        padding: 6px 0 6px 0;
    }
    .identification__header {
        font-size: 1.5em;
    }
}