
.section__identification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.identification__field {
    margin: 80px 0 20px 0;
    min-width: 350px;
    max-width: 640px;
}

.identification__header {
    display: flex;
    justify-content: space-around;
    background: #5757ff;
    padding: 10px 0 10px 0;
    border-radius: 6px 6px 0 0;
    border-top: 2px solid var(--color-black);
    border-left: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
    font-family: roboto, serif;
    font-size: 1.5em;
    font-weight: 900;
}

.nulifying {
    padding: 5px 0 0 0;
    font-family: initial;
    font-size: initial;
    font-weight: initial;
}

.identification__item {
    color: #fff;
    padding: 0 4px 0 4px;
    border-radius: 5px;
}

.identification__item:hover {
    box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.4);
    color: #ffe843;
}

.form__test {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 20vw;
    background: var(--containers-background);
    border-radius: 0 0 6px 6px;
    border-left: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
    overflow: auto;
    max-height: 80vh;
}

.form__row {
    display: flex;
    flex-wrap: wrap;
    margin: 6px 0 6px 0;
    padding: 0 20px 0 20px;
}

.form__field {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.form-label {

}

.empty_form {
    display: none;
}

.phantom{
    display: none;
}

.form-errors {

}

.from-error {

}

.hedge__info {
    background: #5757ff;
    padding: 5px 15px 5px 15px;
    position: relative;
}

.info{
    display: flex;
    justify-content: center;
}

.button__create {

}

.form__textarea, .form__input {
    background: #dddddd;
    border: 2px solid #00000059;
    margin: 0 0 5px 10px;

}
.form__textarea {
    resize: none;
    padding: 5px;
    flex-grow: 1;
    width: 100%;
}
.form__input {

}

.button__submit {
    margin: 20px;
}




.test__section {
    position: relative;
    margin: 20px;
}

.test__field {
    background: darkturquoise;
    border-radius: 4px;
    padding: 20px;
}




@media (max-width: 768px) {
    .identification__header {
        border-radius: initial;
        border-left: initial;
        border-right: initial;
    }
    .identification__field {
        margin-top: 60px;
        min-width: initial;
    }

    .test__section {
        position: relative;
        margin: 0;
    }

    .form__field {
        flex-wrap: wrap;
    }
    .form__textarea {
        margin: 5px 0 5px 0;
    }
    .form__test {
        overflow: initial;
        max-height: none;
        border: initial;
        border-radius: initial;
    }

    .test__field {
        height: auto;
        border-radius: 0;
        position: fixed;
        top: 59px;
        left: 0;
        right: 0;
        bottom: 0;
        background: #6971e5;
        border-top: 5px solid var(--color-black);
        z-index: -1;
    }
}
