
.section__identification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.identification__field {
    display: flex;
    flex-direction: column;
    margin: 80px 0 0 0;
    min-width: 350px;
    max-width: 640px;
}

.identification__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #5757ff;
    padding: 10px 0 10px 0;
    border-radius: 6px 6px 0 0;
    border-top: 2px solid var(--color-black);
    border-left: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
    font-family: roboto, serif;
    font-size: 1.5em;
    font-weight: 900;
}
.identification__hot_right {
    color: #fff;
}
.identification__hot_right:hover {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.identification__cold {
    user-select: none;
    display: flex;
    align-items: center;
}
.verify__test {
    margin-left: 8px;
    border: 1px solid white;
    border-radius: 17px;
    display: flex;
    padding: 3px;
    cursor: pointer;
}
.svg__pencil {
    width: 20px;
    height: 20px;
}

.nulifying {
    padding: 5px 0 0 0;
    font-family: initial;
    font-size: initial;
    font-weight: initial;
}

.identification__item {
    color: #fff;
    padding: 0 4px 0 4px;
    border-radius: 5px;
}

.identification__item:hover {
    box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.4);
    color: #ffe843;
}

.pagination__field {
    background: var(--containers-background);
    border-left: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
}
.invisible {
    display: none;
}

.form__test {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 20vw;
    background: var(--containers-background);
    border-radius: 0 0 6px 6px;
    border-left: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
    overflow: auto;
    max-height: 80vh;
}

.form__row {
    display: flex;
    flex-wrap: wrap;
    margin: 6px 0 6px 0;
    padding: 0 20px 0 20px;
}

.form__field {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.form-label {

}

.empty_form {
    display: none;
}

.phantom{
    display: none;
}

.form-errors {

}

.from-error {

}

.hedge__info {
    background: #5757ff;
    padding: 5px 15px 5px 15px;
    position: relative;
}

.info{
    display: flex;
    justify-content: center;
    text-align: center;
}

.button__add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: black;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2em;
    padding: 5px;
    border-radius: 5px;
}
.span__minus {
    display: block;
    width: 14px;
    height: 4px;
    background: #ffffff;
}
.button__delete {
    position: absolute;
    right: 15px;
    bottom: 5px;
    background: #000000;
    padding: 8px 3px 8px 3px;
    border-radius: 5px;
    cursor: pointer;
}

.form__textarea, .form__input {
    background: #dddddd;
    border: 2px solid #00000059;
    margin: 0 0 5px 10px;

}
.form__textarea {
    resize: none;
    padding: 5px;
    flex-grow: 1;
    width: 100%;
}
.form__input {

}

.button__submit {
    margin: 20px;
}




.test__section {
    position: relative;
    margin: 20px;
}

.test__field {
    background: darkturquoise;
    border-radius: 4px;
    padding: 20px;
}




@media (max-width: 768px) {
    .identification__header {
        border-radius: initial;
        border-left: initial;
        border-right: initial;
        font-size: initial;
        padding: 5px 0 5px 0;
    }
    .identification__field {
        margin-top: 60px;
        min-width: initial;
    }
    .pagination__field {
        border-left: initial;
        border-right: initial;
    }
    .pagination {
        margin-top: 5px !important;
        padding-bottom: 3px !important;
    }
    .pagination > a {
        padding: 0 6px 0 6px !important;
        margin: 0 4px 0 4px !important;
    }

    .test__section {
        position: relative;
        margin: 0;
    }

    .form__field {
        flex-wrap: wrap;
    }
    .form__textarea {
        margin: 5px 0 5px 0;
    }
    .form__test {
        overflow: initial;
        max-height: none;
        border: initial;
        border-radius: initial;
    }
    .test__field {
        height: auto;
        border-radius: 0;
        position: fixed;
        top: 59px;
        left: 0;
        right: 0;
        bottom: 0;
        background: #6971e5;
        border-top: 5px solid var(--color-black);
        z-index: -1;
    }
    .svg__pencil {
        width: 15px;
        height: 15px;
    }
}
