
.profile {
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--containers-background);
    box-shadow: inset 0 0 10px rgb(0 0 0 / 50%);
    padding: 15px 0 15px 20px;
    margin-bottom: 40px;
}

.profile__intro {
    display: flex;
}

.field__description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
}

.username {
    margin-right: 28px;
}

.description {
    margin: 15px 0 0 15px;
}

.profile__settings {
    position: absolute;
    top: 4px;
    right: 5px;
}
.svg__gear {
    width: 23px;
    height: 23px;
}



.profile__bar {
    margin-top: 15px;
    display: flex;
    padding: 6px;
    background: #34393d;
    border-radius: 12px;
}

.profile__item {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    color: #54f8f6;
}

.current {
    color: #14ff00;
}

.content__bar {
    background: #34393d;
    border-radius: 12px;
    margin-top: 15px;
    padding: 10px 15px 10px 15px;
}

.content__item {
    margin-bottom: 10px;
    padding-top: 5px;
    position: relative;
}
.content__item::before {
    content: "";
    position: absolute;
    width: 5.5px;
    height: 5.5px;
    top: 2px;
    left: -5px;
    border-top: 1.5px solid #f8ee54;
    border-left: 1.5px solid #f8ee54;
}
.content__item::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    bottom: 0;
    right: -6px;
    border-bottom: 1.5px solid #f8ee54;
    border-right: 1.5px solid #f8ee54;
}

.user__test {

}

.item__preview {
    margin-bottom: 6px;
}

.item__link {
    color: #54f8f6;
    padding: 0 10px 0 10px;
}

.item__grade {
    position: absolute;
    bottom: 0;
    right: 0;
}

.neutral {
    color: #ffffff;
}

.positive {
    color: #16f93f;
}

.negative {
    color: #f91616;
}
