
.test__field {
    background: var(--containers-background);
    box-shadow: inset 0 0 10px rgb(0 0 0 / 50%);
    padding-top: 30px;
}

.test__filtration {
    z-index: 1;
}

.test__advanced_search {
    margin-left: 40px;
    position: relative;
    padding: 6px 8px 6px 10px;
    background: linear-gradient(360deg, #7f7f7f, #969696);
    border-bottom: 1px solid #000000c4;
    border-radius: 2px;
}

.filtration__footer {

}

.filtration__field {
    display: block;
    position: fixed;
    right: -400px;
    width: 400px;
    min-height: 400px;
    z-index: 1;
    transition:right 1.2s ease;
}
.field__advanced_search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    background: var(--containers-background); /* #34393d; */
    max-height: 400px;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 0 0 2px 0 #000000b2, 0 0 4px 0 #000000b2, 0 0 8px 0 #000000b2, 0 0 16px 0 #000000b2;
}
.bunch__hedge__top, .bunch__hedge_bottom {
    display: flex;
    background: var(--color-black);
    width: 100%;
    height: 1px;
}
.bunch__hedge__top {
    margin: 10px 0 5px 0;
}
.bunch__hedge_bottom {
    margin: 20px 0 10px 0;
}

.advanced_search__footer {
    display: flex;
    justify-content: space-evenly;
}

.cancel__button, .submit__button {
    cursor: pointer;
    background: var(--color-black);
    color: #fff;
    padding: 3px 10px 3px 10px;
    border-radius: 3px;
    font-family: sans-serif;
}

.bunch__header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    padding: 0 10px 4px 10px;
    color: var(--color-black);
    border-bottom: 2px solid var(--color-black);
}

.advanced_search__reset {
    cursor: pointer;
    position: relative;
}
.advanced_search__reset::before {
    content: "";
    position: absolute;
    width: 5.5px;
    height: 5.5px;
    top: 2px;
    left: -5px;
    border-top: 1.5px solid var(--color-black);
    border-left: 1.5px solid var(--color-black);
}
.advanced_search__reset::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    bottom: 0;
    right: -6px;
    border-bottom: 1.5px solid var(--color-black);
    border-right: 1.5px solid var(--color-black);
}

.bunch__selection {
    display: flex;
    flex-wrap: wrap;
}

.selection__item {
    display: flex;
    margin-left: 15px;
}

.item__choice {
    margin: 2px 0 2px 2px;
}


#advanced_search_button{
    display: none;
}
#advanced_search_button:checked ~ .filtration__field {
    right: 0;
}


.test__list {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 20px 15px 20px;
}

.test__cell {
    display: flex;
    width: 50%;
    padding: 10px;
}

.test__item {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 5.5em;
    padding: 12px;
    background: #00000012;
    color: var(--color-black);
    border: 2px solid #0000003b;
    border-radius: 8px;
    transition: 0.6s ease;
}
.test__item:hover {
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.4);
    transform: translateY(-4px);
    transition: 0.6s ease;
}

.item__preview {
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 12px;
    overflow-wrap: anywhere;
}

.item__reputation {
    position: absolute;
}

.item__status {
    position: absolute;
    bottom: 0;
    right: 5px;
}

.svg__test_status{
    height: 25px;
    width: 25px;
}

.empty__item__header {
    font-family: sans-serif;
    font-weight: 600;
}

.partition {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partition__big {
    height: 1px;
    width: 90%;
    background: var(--color-black);
}
.partition__wide{
    height: 2px;
}

.svg__test_preview {
    width: 50px;
    height: 50px;
}

@media (max-width: 768px) {
    .test__field {
        padding-top: initial;
    }
    .svg__test_status {
        height: 20px;
        width: 20px;
    }
    .test__cell {
        width: 100%
    }

    .test__filtration {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .test__advanced_search {
        display: flex;
        justify-content: center;
        background: var(--containers-background);
        margin: 0 10% 0 10%;
        border-radius: 8px 8px 0 0;
        padding: 5px;
        border-top: 2px solid;
        border-left: 2px solid;
        border-right: 2px solid;
        cursor: pointer;
    }

    .field__advanced_search {
        border-radius: 10px 10px 0 0;
        margin: 0 10% 0 10%;
        border-left: 1px solid;
        border-right: 1px solid;
        border-top: 1px solid;
        border-bottom: none;
    }
    .filtration__field {
        display: block;
        position: fixed;
        bottom: -400px;
        right: initial;
        width: 100%;
        min-height: initial;
        transition: bottom 1.2s ease;
    }
    #advanced_search_button:checked ~ .filtration__field {
        bottom: 0;
        right: initial;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 10px;
    user-select: none;
}

.pagination > a {
    padding: 1px 8px 1px 8px;
    border: 1px solid var(--color-black);
    border-radius: 23px;
    margin: 0 4px 0 4px;
    font-family: sans-serif;
    font-weight: bolder; /* ??? */
    background: var(--color-black);
}

.pagination__unclickable:hover,
.pagination__current:hover,
.pagination__clickable:hover{
    box-shadow: 0 0 10px 5px var(--color-black);
}

.pagination__unclickable {
    color: #ff0000;
}
.pagination__current {
    color: #14ff00;
}
.pagination__clickable {
    color: #ffffff;
}
@media (max-width: 500px){
    .field__advanced_search {
        margin: 0 5% 0 5%;
        border-left: 1px solid;
        border-right: 1px solid;
        border-top: 1px solid;
        border-bottom: none;
    }
    .test__list {
        padding: initial;
    }
    .svg__test_preview {
        width: 40px;
        height: 40px;
    }
    .item__preview {
        margin-left: 6px;
    }
}