
.test__field {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    box-shadow: inset 0 0 10px rgb(0 0 0 / 50%);
    background: linear-gradient(180deg, #bcbcbc, #b1adad);
}

.test__preview {
    display: flex;
    justify-content: center;
    margin: 9px 0 9px 0;
    overflow-wrap: anywhere;
}

.test__description {
    margin: 0 0 15px 15px;
}

.test__button {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.button__start {
    padding: 3px 9px 3px 9px;
    background: #1c1c1d;
    border-radius: 7px;
    color: #54f8f6;
    border: 1px solid;
    cursor: pointer;
}


.test__question {
    display: flex;
    justify-content: center;
}

.quetion__field {

}

.quetions__list {

}

.quetion__item {
    display: flex;
    margin: 4px 0 4px 0;
}

.test__questions {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 24px;
    border-radius: 0 10px 0 10px;
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
    font-family: sans-serif;
    font-weight: 900;
    background: #ececec;
}

.test__questions__amount {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.questions__amount {
    position: absolute;
}

.quetion__answer {
    margin-left: 10px;
}

.test__buttons {
    display: flex;
    margin: 5px 0 0 10px;
}

.previous_question_button {
    padding: 2px 9px 4px 9px;
    background: #1c1c1d;
    border-radius: 7px;
    color: #0074ff;
    cursor: pointer;
    user-select: none;
    border: 1px solid;
}

#test__walkthrough {
    display: none;
}
