*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #1c1c1a;
}

a { 
    text-decoration: none;
}

.header__menu{
    display: flex;
    justify-content: space-around;
    background: #ececec;
    padding: 5px;
}

.header__item {
    padding: 15px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    text-decoration: none;
    color: #000;
    position: relative;
}

.header__item::before {
    visibility: hidden;
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: 0;
    left: 0;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
.header__item::after {
    visibility: hidden;
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000;
}

.header__item:hover {
    background: linear-gradient(to top, #ececec, #c3c3c3);
    transition: 1s ease;
}

.header__item:hover::before,
.header__item:hover::after {
    visibility: visible;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

           