{% extends 'tests/base.html' %}

{% load static %}

{% block additional_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'tests/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="section">
        <div class="profile">
            <div class="profile__intro">
                <div class="field__avatar">
                    <div class="avatar"></div>
                </div>
                <div class="field__description">
                    <div class="username">{{ user.username }}</div>
                    <div class="description">description about me</div>
                </div>
            </div>
            <div class="profile__functions">
                <a href="#" class="profile__settings">settings</a>
                <a href="{% url 'create_test' %}" class="create__test">create test</a>
            </div>
        </div>
        {% if request.user.is_authenticated and user.uuid == user_uuid %}
        <div class="profile__bar">
            <a href="{% url 'profile' user_uuid %}" class="profile__item current">my tests</a>
            <a href="{% url 'completed_tests' user_uuid %}" class="profile__item">completed tests</a>
            <a href="{% url 'uncompleted_tests' user_uuid %}" class="profile__item">uncompleted tests</a>
        </div>
        {% endif %}
        {% block extracontent %}
        {% endblock extracontent %}
    </div>
{% endblock %}