{% extends 'tests/base.html' %}

{% load static %}
{% block additional_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'tests/css/create_test.css' %}">
{% endblock %}

{% block content %}
<div class="section__identification">
    <div class="identification__field">
        <div class="identification__header">
            <a href="{% url 'change_questions' preview_slug %}" class="identification__item">Change questions</a>
            <a href="{% url 'change_test' preview_slug %}" class="identification__item">Change test</a>
        </div>
        <form class="form__test" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for f in form %}
                <div class="form__row">
                    <div class="form__field">
                        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}
                    </div>
                    <div class="form-errors">{{ f.errors }}</div>
                </div>
            {% endfor %}
            <div id="criterions_formset">
            {{ questions_forms.management_form }}
            {% for form in questions_forms.question_formset %}
                {% for f in form %}
                {% if f.label == "Delete" or f.label == "Test" %}{% else %}
                {{ f.id }}
                <div class="form__row">
                    <div class="form__field">
                        <label class="form-label {% if "Id" == f.label %}phantom{% endif %}" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}
                    </div>
                    <div class="form-errors">{{ f.errors }}</div>
                </div>
                {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
            <div class="from-error">{{ form.non_field_errors }}</div>
            <button type="submit" class="button__submit">submit</button>
        </form>
    </div>
</div>
{% endblock content %}