{% extends 'tests/base.html' %}

{% load static %}
{% block additional_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'tests/css/create_test.css' %}">
{% endblock %}

{% block content %}
<div class="section__identification">
    <div class="identification__field">
        <div class="identification__header">
            <a href="{% url 'change_questions' preview_slug %}" class="identification__item">Change questions</a>
            <a href="{% url 'change_test' preview_slug %}" class="identification__item">Change test</a>
        </div>
        <form class="form__test" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for f in form %}
                <div class="form__row">
                    <div class="form__field">
                        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}
                    </div>
                    <div class="form-errors">{{ f.errors }}</div>
                </div>
            {% endfor %}
            {{ question_management_form }}
            {% for form in questions_forms %}
                {% for f in form %}
                {% if f.label == "Delete" or f.label == "Test" %}{% else %}
                {{ f.id }}
                <div class="form__row">
                    <div class="form__field">
                        <label class="form-label {% if "Id" == f.label %}phantom{% endif %}" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}
                    </div>
                    <div class="form-errors">{{ f.errors }}</div>
                </div>
                {% endif %}
                {% endfor %}

            {% endfor %}
            <div class="from-error">{{ form.non_field_errors }}</div>
            <button type="submit" class="button__submit">submit</button>
        </form>
        {% if question_page_obj.has_other_pages %}
            <div class="pagination__profile">
                {% if question_page_obj.has_previous %}
                    <a href="?page={{ question_page_obj.previous_page_number }}" class="pagination__link link__clickable"><</a>
                {% else %}
                    <a class="pagination__link link__unclickable"><</a>
                {% endif %}
                {% for p in question_page_obj.paginator.page_range %}
                    {% if question_page_obj.number == p %}
                        <a href="?page={{ p }}" class="pagination__link link-selected">{{ p }}</a>
                    {% elif p >= question_page_obj.number|add:-15 and p <= question_page_obj.number|add:15 %}
                        <a href="?page={{ p }}" class="pagination__link">{{ p }}</a>
                    {% endif %}
                {% endfor %}
                {% if question_page_obj.has_next %}
                    <a href="?page={{ question_page_obj.next_page_number }}" class="pagination__link link__clickable">></a>
                {% else %}
                    <a class="pagination__link link__unclickable">></a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
