{% extends 'tests/base.html' %}

{% load static %}
{% block additional_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'tests/css/create_test.css' %}">
{% endblock %}

{% block content %}
    <div class="test__section">
        <div class="test__field">
            <form class="form__new_test" method="post">
                {% csrf_token %}
                {% for f in form %}
                    <div class="form__row">
                        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}
                        <div class="form-errors">{{ f.errors }}</div>
                    </div>
                {% endfor %}
                <div class="from-error">{{ form.non_field_errors }}</div>
                <button type="submit">create_test</button>
            </form>
        </div>
    </div>
{% endblock content %}