{% extends 'tests/base.html' %}

{% load static %}
{% block additional_meta_tags %}
<meta name="description" content="">
{% endblock %}
{% block additional_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'tests/css/create_test.css' %}">
{% endblock %}
{% block additional_js %}
    <script src="{% static 'tests/js/create_test_questions.js' %}"></script>
{% endblock %}
{% block content %}
<div class="section__identification">
    <div class="identification__field">
        <div class="identification__header nulifying">
            <div class="hedge__info">
                <div class="info">the number of criteries is equal to the number of answers for one question</div>
                <div class="button__add" id="add_question_button">+</div>
                <div class="button__delete" id="delete_question_button"><span class="span__minus"></span></div>
            </div>
        </div>
        <form class="form__test" method="post">
            {% csrf_token %}
            {{ form.management_form }}
            <div id="questions_formset">
            {% for f in form %}
                {% if f.label == "Delete" or f.label == "Test" %}{% else %}
                {{ f.id }}
                <div class="form__row">
                    <div class="form__field">
                        <label class="form-label {% if "Id" == f.label %}phantom{% endif %}" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}
                    </div>
                    <div class="form-errors">{{ f.errors }}</div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <div class="from-error">{{ form.non_field_errors }}</div>
            <button type="submit" class="button__submit">submit</button>
        </form>
        <div class="empty_form" id="empty_form">
            {{ formset2.management_form }}
            {% for f in formset.empty_form.visible_fields %}
            {% if f.label == "Delete" %}{% else %}
            <div class="form__row">
                <div class="form__field">
                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}
                </div>
                <div class="form-errors">{{ f.errors }}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="empty_form" id="empty_form_2">
            {% for f in formset2.empty_form.visible_fields %}
            {% if f.label == "Delete" %}{% else %}
            <div class="form__row">
                <div class="form__field">
                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}
                </div>
                <div class="form-errors">{{ f.errors }}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
