{% extends "tests/base.html" %}
{% load i18n %}
{% load static %}
{% block additional_meta_tags %}
<meta name="description" content="">
{% endblock %}
{% block additional_css %}
<link type="text/css" rel="stylesheet" href="{% static 'tests/css/auth.css' %}">
{% endblock %}
{% block content %}
<div class="section__identification">
    <div class="identification__field">
        <div class="identification__header">Well Done</div>
        <div class="identification__list">
            <a href="{% url 'tests:login' %}" class="identification__hot_left">Sign in</a>
            <a href="{% url 'tests:registration' %}" class="identification__hot_right">Sign up</a>
        </div>
        <div class="form__login">
            <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
            <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
        </div>
    </div>
</div>
{% endblock %}
