{% extends 'tests/base.html' %}

{% load static %}
{% block additional_meta_tags %}
<meta name="description" content="">
{% endblock %}
{% block additional_css %}
<link type="text/css" rel="stylesheet" href="{% static 'tests/css/auth.css' %}">
{% endblock %}
{% block content %}
<div class="section__identification">
    <div class="identification__field">
        <div class="identification__header">Reset Password</div>
        <div class="identification__list">
            <a href="{% url 'tests:login' %}" class="identification__hot_left">Sign in</a>
            <a href="{% url 'tests:registration' %}" class="identification__hot_right">Sign up</a>
        </div>
        <form class="form__recovery" method="post">
            {% csrf_token %}
            {% for f in form %}
                <div class="form__row">
                    <div class="form__field">{{ f }}</div>
                    <div class="form-errors">{{ f.errors }}</div>
                </div>
            {% endfor %}
            <div class="from-error">{{ form.non_field_errors }}</div>
            <button type="submit" class="button__submit">confirm</button>
        </form>
    </div>
</div>
{% endblock %}