{% extends 'tests/base.html' %}

{% load static %}

{% block additional_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'tests/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="section">
        <div class="profile">
            <div class="field__avatar">
                <div class="avatar"></div>
            </div>
            <div class="field__description">
                <div class="username">username</div>
                <div class="description">description about me</div>
            </div>
        </div>
        <div class="profile__bar">
            <a href="#" class="profile__item current">tests</a>
            <a href="#" class="profile__item">completed tests</a>
        </div>
        <div class="content__bar">
            <div class="content__item">
                <div class="item__preview">level of risk</div>
                <a href="#" class="item__link">check</a>
                <div class="item__grade neutral">0</div>
            </div>
            <div class="content__item">
                <div class="item__preview">second test</div>
                <a href="#" class="item__link">check</a>
                <div class="item__grade positive">10</div>
            </div>
            <div class="content__item">
                <div class="item__preview">preview discussion</div>
                <a href="#" class="item__link">check</a>
                <div class="item__grade negative">-10</div>
            </div>
            <div class="content__item">
                <div class="item__preview">2preview discussion</div>
                <a href="#" class="item__link">check</a>
                <div class="item__grade">0</div>
            </div>
            <div class="content__item">
                <div class="item__preview">preview for completed test</div>
                <a href="#" class="item__link">check</a>
                <div class="item__grade">0</div>
            </div>

            <div class="partition">
                <div class="partition__big"></div>
            </div>

            <div class="pagination">
                <a href="#" class="pagination__clickable"><</a>
                <a href="#" class="pagination__clickable">1</a>
                <a href="#" class="pagination__current">2</a>
                <a href="#" class="pagination__clickable">3</a>
                <a href="#" class="pagination__unclickable">></a>
            </div>
        </div>
    </div>
{% endblock %}