{% extends 'tests/base.html' %}

{% load static %}

{% block additional_css %}
<link type="text/css" rel="stylesheet" href="{% static 'tests/css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="section__identification">
    <div class="identification__field">
        <div class="identification__header">Welcome</div>
        <div class="identification__list">
            <div class="identification__cold">Sign up</div>
            <a href="{% url 'login' %}" class="identification__hot">Sign in</a>
        </div>
        <form class="form__registration" method="post">
            {% csrf_token %}
            {% for f in form %}
                <div class="form__row">
                    <div class="form__field">
                        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}
                    </div>
                    <div class="form-errors">{{ f.errors }}</div>
                </div>
            {% endfor %}
            <div class="from-error">{{ form.non_field_errors }}</div>
            <button type="submit" class="button__submit">register</button>
        </form>
    </div>
</div>
{% endblock %}