{% extends 'tests/base.html' %}

{% load static %}

{% block additional_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'tests/css/search_test.css' %}">
{% endblock %}

{% block content %}
    <div class="section__tests">
        <div class="tests__field">
            <div class="filters__field">
                <div class="left_side">
                    <div class="category__cell">
                        <div class="choose_param">category ...</div>
                        <div class="filter_by_category">
                            <div class="category__item">psychology</div>
                        </div>
                    </div>
                    <div class="criterion__cell">
                        <div class="choose_param">criterion ...</div>
                        <div class="filter_by_criterion">
                            <div class="criterion__item">all</div>
                            <div class="criterion__item">completed</div>
                            <div class="criterion__item">uncompleted</div>
                            <div class="criterion__item">in progress</div>
                        </div>
                    </div>
                </div>
                <div class="right_side">
                    <div class="sort__cell">
                        <div class="choose_param">sorted by ...</div>
                        <div class="sort_by">
                            <div class="sort__item">popularity</div>
                            <div class="sort__item">newness</div>
                            <div class="sort__item">A-z</div>
                            <div class="sort__item">Z-a</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="test__list">
                <div class="test__cell">
                    <a href="#" class="test__item">
                        <div class="item__avatar"></div>
                        <div class="item__preview">first test</div>
                        <div class="item__reputation">0</div>
                        <div class="item__status">svg o</div>
                    </a>
                </div>
                <div class="test__cell">
                    <a href="#" class="test__item">
                        <div class="item__avatar"></div>
                        <div class="item__preview">Тщательный Психологический Тест для Определения Типа Личности и Стиля Жизни во время кризисов мирового уровня</div>
                        <div class="item__reputation">0</div>
                        <div class="item__status">svg o</div>
                    </a>
                </div>
                <div class="test__cell">
                    <a href="#" class="test__item">
                        <div class="item__avatar"></div>
                        <div href="#" class="item__preview">Тщательный Психологический Тест для Определения Типа Личности и Стиля Жизни во время кризисов мирового уровня</div>
                        <div class="item__reputation">0</div>
                        <div class="item__status">svg o</div>
                    </a>
                </div>
                <div class="test__cell">
                    <a href="#" class="test__item">
                        <div class="item__avatar"></div>
                        <div href="#" class="item__preview">Тщательный Психологический Тест для Определения Типа Личности и Стиля Жизни во время кризисов мирового уровня</div>
                        <div class="item__reputation">0</div>
                        <div class="item__status">
                            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="10" cy="10" r="8" fill="#000" />
                                <path d="M 10 10 L 10 2 A 8 8 0 0 1 15.656 4.344 Z" fill="orange" />
                            </svg>
                        </div>
                    </a>
                </div>
                {% for test in tests %}
                <div class="test__cell">
                    <a href="{{ test.get_absolute_url }}" id="{{ test.id }}" class="test__item">
                        <div class="item__avatar"></div>
                        <div class="item__preview">{{ test.preview }}</div>
                        <div class="item__reputation">{{ test.grade }}</div>
                        <div class="item__status">svg o</div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
