{% extends 'tests/base.html' %}

{% load static %}

{% block additional_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'tests/css/test.css' %}">
{% endblock %}
{% block additional_js %}
    <meta name="test-id" content="{{ test.id }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'tests/js/test.js' %}"></script>
{% endblock %}

{% block content %}
<div class="section">
    <div class="test__field" id="test__description">
        <div class="test__questions">
            <div class="test__questions__amount">
                <div class="questions__amount">151</div>
            </div>
        </div>
        <div class="test__preview">first test from user1first test from user1first test from user1first test from user1first test from user1first test from user1first test from user1first test from user1first test from user1first test from user1first test from user1first test from user1first test from user1first test from user1first test from user1first test from user1</div>
        <div class="test__description">{{ test.description }}</div>
        <div class="test__button">
            <div class="button__start">start</div>
        </div>
    </div>
    <div class="test__field" id="test__walkthrough">
        <div class="quetion__field">
            {% for question in test.testquestion_set.all %}
                <div class="test__question">{{ question.question.question }}</div>
                <div class="quetions__list" id="question_{{ forloop.counter }}">
                    {% for answer in question.questionanswerchoice_set.all %}
                        <label class="quetion__item">
                            <input type="radio" name="question_{{ question.id }}">
                            <div class="quetion__answer">{{ answer.answer }}</div>
                        </label>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="test__buttons">
            <div class="back_to_description">back</div>
            <div class="submit">submit</div>
        </div>
    </div>
    <div class="test__field" id="test__results">
        <div class="quetion__field">
            <div class="field__test">
                <div class="test__diagram">
                    {% for result in test.testcriterion_set.all %}
                    <div class="diagram__item">
                        <div class="digram__bar">
                            <div class="bar__progress" data-criterion-bar-id="{{ result.criterion }}"></div>
                        </div>
                        <div class="diagram__info">
                            <div class="diagram__result" data-criterion-result-id="{{ result.criterion }}"></div>
                            <div class="diagram__criterion">{{ result.criterion }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="result__unique" id="unique__result"></div>
            </div>
            <div class="test__results">
                {% for result in test.testcriterion_set.all %}
                <div class="result__static">{{ result.result }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}