<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../../static/avalance/css/core.css">
    <link type="text/css" rel="stylesheet" href="../../static/avalance/css/search_test.css">
    <title>Title</title>
</head>
<body>
    <div class="header__menu">
        <a href="#" class="header__item">Profile</a>
        <a href="#" class="header__item">Discussions</a>
        <a href="#" class="header__item">Tests</a>
        <a href="#" class="header__item">Similars</a>
    </div>

    <div class="section__tests">
        <div class="tests__field">
            <div class="filters__field">
                <div class="left_side">
                    <div class="category__cell">
                        <div class="choose_param">category ...</div>
                        <div class="filter_by_category">
                            <div class="category__item">psychology</div>
                        </div>
                    </div>
                    <div class="criterion__cell">
                        <div class="choose_param">criterion ...</div>
                        <div class="filter_by_criterion">
                            <div class="criterion__item">all</div>
                            <div class="criterion__item">completed</div>
                            <div class="criterion__item">uncompleted</div>
                            <div class="criterion__item">in progress</div>
                        </div>
                    </div>
                </div>
                <div class="right_side">
                    <div class="sort__cell">
                        <div class="choose_param">sorted by ...</div>
                        <div class="sort_by">
                            <div class="sort__item">popularity</div>
                            <div class="sort__item">newness</div>
                            <div class="sort__item">A-z</div>
                            <div class="sort__item">Z-a</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="test__list">
                <div class="test__cell">
                    <a href="#" class="test__item">
                        <div class="item__avatar"></div>
                        <div class="item__preview">first test</div>
                        <div class="item__reputation">0</div>
                        <div class="item__status">svg o</div>
                    </a>
                </div>
                <div class="test__cell">
                    <a href="#" class="test__item">
                        <div class="item__avatar"></div>
                        <div class="item__preview">Тщательный Психологический Тест для Определения Типа Личности и Стиля Жизни во время кризисов мирового уровня</div>
                        <div class="item__reputation">0</div>
                        <div class="item__status">svg o</div>
                    </a>
                </div>
                <div class="test__cell">
                    <a href="#" class="test__item">
                        <div class="item__avatar"></div>
                        <div href="#" class="item__preview">Тщательный Психологический Тест для Определения Типа Личности и Стиля Жизни во время кризисов мирового уровня</div>
                        <div class="item__reputation">0</div>
                        <div class="item__status">svg o</div>
                    </a>
                </div>
                <div class="test__cell">
                    <a href="#" class="test__item">
                        <div class="item__avatar"></div>
                        <div href="#" class="item__preview">Тщательный Психологический Тест для Определения Типа Личности и Стиля Жизни во время кризисов мирового уровня</div>
                        <div class="item__reputation">0</div>
                        <div class="item__status">svg o</div>
                    </a>
                </div>
                <div class="test__cell">
                    <a href="#" class="test__item">
                        <div class="item__avatar"></div>
                        <div class="item__preview">first test</div>
                        <div class="item__reputation">0</div>
                        <div class="item__status">svg o</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>