<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../../static/avalance/css/core.css">
    <link type="text/css" rel="stylesheet" href="../../static/avalance/css/test.css">
    <title>Test</title>
</head>
<body>
    <div class="header__menu">
        <a href="#" class="header__item">Profile</a>
        <a href="#" class="header__item">Discussions</a>
        <a href="#" class="header__item">Tests</a>
        <a href="#" class="header__item">Similars</a>
    </div>

    <div class="section">
        <div class="test__field">
            <div class="test__preview">preview</div>
            <div class="test__description">description</div>
            <div class="test__button">
                <a href="#" class="button__start">start</a>
            </div>
        </div>
    </div>
</body>
</html>