<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../../static/avalance/css/core.css">
    <link type="text/css" rel="stylesheet" href="../../static/avalance/css/test.css">
    <script src="{% static 'avalance/js/test_walkthrough.js' %}"></script>
    <title>WalkThrough</title>
</head>
<body>
    <div class="header__menu">
        <a href="#" class="header__item">Profile</a>
        <a href="#" class="header__item">Discussions</a>
        <a href="#" class="header__item">Tests</a>
        <a href="#" class="header__item">Similars</a>
    </div>

    <div class="section">
        <div class="test__field">
            <div class="test__question"></div>
            <div class="quetion__field">
                <div class="quetions__list" id="question_1">

                </div>
            </div>
            <div class="test__buttons">
                <div class="previous_question_button">previous</div>
            </div>
        </div>
    </div>

</body>
</html>